.slider-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.bg-watch{
    background-color: #ffa500;
    border-radius: 10px;
}
.bg-bag{
    background-color: #da70d6;

    border-radius: 10px;
}
.bg-shoes{
    background-color: #0000ff;
    border-radius: 10px;
}
.card{
    border-radius: 10px;
}
.subscribe{
    background-color: #fceae8;
    border-radius: 10px;
}
.button{
    background-color: #ff3887;
}
.